<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/jdbc
        http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">
    <tx:annotation-driven/>
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="classpath:application.properties"/>
    </bean>
    <bean name="createEmployeeService" class="com.epam.viktoryia.springdatabase.CreateEmployeeService"/>
    <bean name="restController" class="com.epam.viktoryia.springdatabase.RestController"/>
    <bean id="employeeTemplateDAO" class="com.epam.viktoryia.springdatabase.EmployeeDAOTemplateName">
        <constructor-arg ref="jdbcTemplate"/>
    </bean>
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${application.driverClassName}"/>
        <property name="url" value="${application.url}"/>
        <property name="username" value="${application.username}"/>
        <property name="password" value="${application.password}"/>
    </bean>
    <jdbc:initialize-database data-source="dataSource">
        <jdbc:script location="classpath:/start.sql"/>
    </jdbc:initialize-database>
</beans>